body{
background-color:black;
padding:0px;
margin:0px;

}

.banner{
	height:80px;
	padding:10px
}

.banner_left{
	width:35%;
	height:50px;
	float:left;
	padding:19px;

}

.banner_left img{
	float:left;
	margin-right:13px;
	width:180px
}

.seperator{
	padding-top:2px;
	font-size:20px;
	color:silver;
	font-family:tahoma

}

.banner_right{
height:50px;
padding:5px;
width:40%;
float:right;


}

.banner_right ul li{
display:inline-block;
color:white;
font-family:tahoma;
margin-right:10px;
font-weight:bold;
padding:4px;
font-size:12px;
letter-spacing:0.5px;
border:0px solid grey;

}

.get_started{
	border:1px solid gold;
	border-radius:4px;
	color:grey;


}


#banner_phone{
	color:silver;
	float:right;
	font-family:tahoma;
	font-size:12px;
	font-weight:bold;
	padding-top:4px;

}



.welcome_wrapper_div{
	background-color:white;
	font-family:Source Sans;
	padding-bottom:3px


}


.hero_div{
	width:960px;
	margin:auto;
	height:600px
	
}

.hero_div1{
	background:url("images/hero.jpg") bottom left;
	height:600px
	
}

.get_paid_on_time{
	height:200px;
	width:22%;
	position:absolute;
	margin-top:130px ;
	margin-left:50px;


}

.get_paid_on_time_head{
	font-size:30px;
	color:white;
	font-family:arial

}


.get_paid_content{
	color:white;
	font-size:14px;
	font-family:tahoma;

}

.get_paid_link{
	margin-top:15px;
	padding:0px

}

.get_paid_link a{
	text-decoration:none;
	color:grey;
	background-color:white;
	display:inline-block;
	padding:10px;
	font-family:tahoma;
	border-radius:2px;
	font-weight:bold;
	width:38%;
	font-size:54%;
	text-align:center

}

.start_free_trial{
	background-color:#6699FF !important;
	color:white !important;

}

.watch_free_video{
	background-color:#444444 !important;
	color:white !important;
}

.beneath_hero_div{
	text-align:center;
	background-color:#E0F4F4;
	height:250px;
	width:960px;
	padding-top:60px;
	margin:auto;
	
}


.beneath_hero_div1{
width:100%;
background-color:#E0F4F4	
}


.abtdivs{
	width:33%;
	height:200px;
	float:left;
	background-color:#E0F4F4;


}


.img_div{

	width:100%;
	clear:right;
	height:55px;

}

.img_div img{

	float:left;
	
}



.abtdivs h4{
	font-size:14px;
	text-align:left;
	font-family:tahoma;
	font-weight:0.2em;
	color:black;
	width:100%;



}


.rule{
	width:50%;
	border:1px solid gold;
	margin-top:10px;
	margin-bottom:10px;
}

.abtcontent{
	text-align:justify;
	font-family:tahoma;
	font-size:12px;
	width:85%;
	text-transform: capitalize;
	color:grey;

	

}

.footer_div{
	height:120px;
	background-color:white;
	text-align:center;
	color:black;
	font-size:20px;
	padding:60px;


}

.footer_div img{
position:absolute;
margin-top:-90px;


}

.inner_foot_div{
	margin:auto;
	font-size:24px;
	width:960px;
	background-color:white;
}


.inner_foot_div p{
	width:60%;
	margin:auto;

} 


